mixin head(title)
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(name='author' content='Andrei Gunderin')
	meta(name='description' content='Layout designer project: Chat messenger')
	meta(name='keywords' content='HTML, PUG, SASS, CSS, GULP')
	title=title
	link(rel='stylesheet' href='css/main.min.css')

mixin asideHeader(title, formId, inputId, placeholder)
	div(class='Fz(25px) Fz(2rem)--lg Fw(700) Lh(38px) C(darkColor) Mb(1.5rem) Px(1.5rem)')
		|#{title}
	form(id=formId class='Mb(3rem) Px(1.5rem)')
		input(
			id=inputId
			type='text'
			placeholder=placeholder
			class='Bd(0) H(4.5rem) Bdb(defBorder) Px(1.5rem) W(100%) Bxz(bb) C(secondaryColor)::ph O(n):fv Bdbc(secondaryColor):fv Trsp(trsBdbc) Trsdu(.3s)'
			)

mixin asideLink(href, avatarPath, name, subName, time)
	- const asideLinkClasses = 'contact-link Pos(r) D(f) Ai(c) Py(21px) Px(16px) Pend(40px) Bxsh(shadowSm) Td(n) Bgc(white) Bgc(primaryColor):h Trsp(trsBgc) Trsdu(.3s) Ov(h)';
	a(href=href class=asideLinkClasses)
		img(
			src=avatarPath
			alt=name
			width='50'
			height='50'
			class='W(50px) H(50px) Bdrs(50%) Objf(cv) Mend(1.5rem)'
		)
		div(class='Ov(h)')
			span(class='D(b) C(darkColor) Lh(1.5rem) Fw(700) contact-link:h_C(lightColor) Trsp(trsC) Trsdu(.3s)') #{name}
			span(class='D(b) C(secondaryColor) Fz(14px) Lh(21px) contact-link:h_C(grayColor) Trsp(trsC) Trsdu(.3s) Ell') #{subName}
		if time
			span(class='Pos(a) T(24px) T(5px)--xxs End(40px) C(secondaryColor) contact-link:h_C(grayColor) Fz(14px) Lh(21px) Trsp(trsC) Trsdu(.3s)') #{time}

mixin profileItem(fieldKey, fieldValue, iconPath, iconW, iconH)
	li(class='D(f) Jc(sb) Ai(c) Py(8px) Pstart(1rem) Pend(22px) Bdb(defBorder)')
		div(class='D(f) Fxd(c)')
			span(class='Fz(14px) Lh(21px) C(black50)') #{fieldKey}
			span(class='Fz(14px) Lh(21px) C(darkColor)') #{fieldValue}
		img(
			alt='icon'
			src='images/icons/' + iconPath
			width=iconW
			height=iconH
		)

mixin partnerMessage(avatarPath, personName, message, time)
	li(class='D(f) W(100%) Mb(1rem)')
		img(
			alt='avatar'
			src=avatarPath
			width='50'
			height='50'
			class='Bdrs(50%) As(fe) Mend(1rem) D(n) D(b)--lg'
		)
		div(class='Maw(558px) Bxz(bb) D(f) Fld(c) Bdrs(16px) Bxsh(shadowSm) P(1.5rem) Bgc(lightColor)')
			p(class='Mt(0) Mb(4px) Fw(700) Lh(1.5rem) C(darkColor)') #{personName}
			p(class='Mt(0) Mb(8px) Lh(1.5rem) C(secondaryColor)') #{message}
			p(class='My(0) Fz(14px) Lh(21px) Pt(5px) Bdt(defBorder) C(msgTimeColor1)') #{time}

mixin myMessage(avatarPath, message, time)
	li(class='D(f) W(100%) Mb(1rem) Jc(fe)')
		img(
			alt='avatar'
			src=avatarPath
			width='50'
			height='50'
			class='Bdrs(50%) As(fe) Mend(1rem) D(n) D(b)--lg'
		)
		div(class='Maw(558px) Bxz(bb) D(f) Fld(c) Bdrs(16px) Bxsh(shadowSm) P(1.5rem) Bgc(primaryColor)')
			p(class='Mt(0) Mb(8px) Lh(1.5rem) C(lightColor)') #{message}
			p(class='My(0) Fz(14px) Lh(21px) Pt(5px) Bdt(myMsgBorder) C(msgTimeColor2)') #{time}