div(class='D(f) Fld(c) Jc(c) Ai(c)')
	img(
		src='images/avatar_1.jpg'
		width='200'
		height='200'
		alt='Hello image'
		class='Bdrs(50%) Mb(18px)'
	)
	p(class='My(0) Fw(700) Lh(1.5rem)') Привет, Кодовёнок
	p(class='My(0) Fz(14px) Lh(21px) C(secondaryColor)') Выбери чат, чтобы начать общаться