mixin head(title)
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(name='author' content='Andrei Gunderin')
	meta(name='description' content='Layout designer project: Chat messenger')
	meta(name='keywords' content='HTML, PUG, SASS, CSS, GULP')
	title=title
	link(rel='stylesheet' href='css/main.css')
	link(rel='stylesheet' href='css/atomic.css')

mixin asideHeader(title, formId, inputId, placeholder)
	div(class='Fz(2rem) Fw(700) Lh(38px) C(darkColor) Mb(1.5rem) Px(1.5rem)')
		|#{title}
	form(id=formId class='Mb(46px) Px(1.5rem)')
		input(
			id=inputId
			type='text'
			placeholder=placeholder
			class='Bd(0) H(4.5rem) Bdb(defBorder) Px(1.5rem) W(100%) Bxz(bb) C(secondaryColor)::ph O(n):fv Bdbc(secondaryColor):fv Trsdu(.3s)'
			)

mixin asideLink(href, avatarPath, name, subName, time)
	- const asideLinkClasses = 'contact-link Pos(r) D(f) Ai(c) Py(21px) Px(16px) Pend(40px) Bxsh(shadowSm) Td(n) Mb(14px) Bgc(white) Bgc(primaryColor):h Trsdu(.3s) Ov(h)';
	a(href=href class=asideLinkClasses)
		img(
			src=avatarPath
			alt=name
			width='50'
			height='50'
			class='W(50px) H(50px) Bdrs(50%) Objf(cv) Mend(1.5rem)'
		)
		div(class='Ov(h)')
			span(class='D(b) C(darkColor) Lh(1.5rem) Fw(700) contact-link:h_C(lightColor) Trsdu(.3s)') #{name}
			span(class='D(b) C(secondaryColor) Fz(14px) Lh(21px) contact-link:h_C(grayColor) Trsdu(.3s) Ell') #{subName}
		if time
			span(class='Pos(a) T(24px) T(5px)--xxs End(40px) C(secondaryColor) contact-link:h_C(grayColor) Fz(14px) Lh(21px) Trsdu(.3s)') #{time}
