- const linksClass = 'D(f) Ai(c) C(white) Td(n) Fz(14px) Lh(21px)';
- const navClass = 'Or(2) Or(0)--lg Flxs(0) D(f) Ai(c) H(72px) Pstart(22px) Pend(43px) Pend(27px)--lg Bgc(primaryColor) Bdrststart(1rem)--xl Ov(h)';
- const sectionTitleClass = 'D(n) D(b)--lg';

nav(id='navigation' class=navClass)
	a(href='#logo' class=linksClass + ' Mend(a)')
		img(src='images/icons/logo.svg' alt='icon' width='15' height='25')

	a(href='#contacts' data-tab-link='contacts' class=linksClass + ' Mend(40px) Mend(26px)--lg')
		img(src='images/icons/people.svg' alt='icon' width='25' height='19' class='Mend(8px)--lg')
		span(class=sectionTitleClass) Контакты

	a(href='#chats' data-tab-link='chats' class=linksClass + ' Mend(43px) Mend(28px)--lg')
		img(src='images/icons/chat.svg' alt='icon' width='25' height='23' class='Mend(8px)--lg')
		span(class=sectionTitleClass) Сообщения

	a(href='#profile' data-tab-link='profile' class=linksClass)
		img(src='images/icons/person.svg' alt='icon' width='19' height='19' class='Mend(11px)--lg')
		span(class=sectionTitleClass) Профиль