extends _layouts/_main
include _mixins/_mixins

block head
	+head('Messenger Chat: Andrei Gunderin')

block sidebar
	div(class='Flxs(0) D(f) Fld(c) W(100%) Maw(464px)--lg Bdend(defBorder)--lg')
		- const currentChat = true;
		include _components/_navigation
		div(id='tabs' class='Fxg(1) D(f) Fld(c) Jc(fs) Pt(3rem) Ov(h)')
			- const chatPageActive = true;
			include _components/_contacts
			include _components/_chats
			include _components/_profile

block main
	div(
		id='current-chat'
		data-tab-block='current-chat'
		class='Pos(a) Z(1) T(0) Start(0) End(0) B(4.5rem) Ov(h) Pos(s)--lg As(st) Flxg(1) D(n) D(f)--lg Fld(c)'
	)

		div(class='Pos(st) T(0) D(f) Ai(c) Px(1rem) Py(22px) Bdb(defBorder) Bgc(#fff)')
			img(
				alt='avatar'
				src='images/avatar_4.jpg'
				width='50'
				height='50'
				class='Bdrs(50%) Mend(1.5rem)'
			)
			div(class='D(f) Fld(c)')
				span(class='Fw(700) Lh(1.5rem) C(darkColor)') Вениамин Редакторович
				span(class='Fz(14px) Lh(21px) C(secondaryColor)') Онлайн

		ul(
			class='hide-scrollbar H(chatListMobileHeight) H(a)--lg Fxg(1) D(f) Flw(w) Ac(fs) Maw(831px) Mx(a) List(n) My(0) Pt(3rem) Pb(4rem) Px(3rem) Ov(a)'
		)
			- const msg1 = 'Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?';
			+partnerMessage('images/avatar_4.jpg', 'Вениамин Редакторович', msg1, '8 минут назад')

			- const msg2 = 'Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень';
			+myMessage('images/avatar_1.jpg', msg2, '8 минут назад')

			+partnerMessage('images/avatar_4.jpg', 'Вениамин Редакторович', 'Лады', '5 минут назад')

			- const msg3 = 'А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие';
			+myMessage('images/avatar_1.jpg', msg3, '3 минуты назад')

			+partnerMessage('images/avatar_4.jpg', 'Вениамин Редакторович', 'о_О', 'Только что')

		form(class='Pos(st) B(0) D(f) W(100%) Maw(831px) Mx(a) Bdt(defBorder) Ai(c) Bgc(#fff)')
			textarea(
				class='Fxg(1) Bd(0) Py(22px) Py(2rem)--lg Pstart(2rem) Pend(1rem) Px(1.5rem)--lg Rsz(n) Lh(1.5rem) C(secondaryColor)::ph O(defOutline):fv Oo(-3px)'
				rows="1"
				type='text'
				placeholder='Напишите сообщение...'
			)
			button(
				type='submit'
				class='D(f) Ai(c) Jc(c) W(50px) H(50px) Mx(1rem) Mx(1.5rem)--lg Bd(0) Bgc(primaryColor) Bdrs(50%) Cur(p)'
			)
				img(
					alt='icon'
					src='images/icons/cursor.svg'
					width='21'
					height='21'
				)